/* See sample.local.css for the use of this file.           */

/* ------------------- Flexbox Layout Styles -------------- */
/* Use CSS3 Flexbox at smaller screen sizes to reposition   */
/* sidebars above the main content area.                    */

#aside-wrapper,
#main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#content {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

#sidebar-first {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
}
#sidebar-second {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media all and (min-width: 560px) and (max-width: 850px) {

  #aside-wrapper {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  #sidebar-first,
  #sidebar-second {
    max-width: 100%;
  }
  #sidebar-second {
    margin-left: 0; /* LTR */
  }
}

@media all and (min-width: 851px) {

  #aside-wrapper,
  #main {
    display: block;
  }
}